<div style="min-width:40vw">
<div class="dayText" id="<%=  day.toLowerCase() + "Row" %>"><%- day %></div>
<div class="itemType" id="<%=  day.toLowerCase() + "EntreeText" %>">Entrees</div>
<div class="items" id="<%=  day.toLowerCase() + "EntreeItems" %>">Loading...</div>
<div class="itemType" id="<%=  day.toLowerCase() + "GrainText" %>">Grains</div>
<div class="items" id="<%=  day.toLowerCase() + "GrainItems" %>">Loading...</div>
<div class="itemType" id="<%=  day.toLowerCase() + "VegText" %>">Vegetables</div>
<div class="items" id="<%=  day.toLowerCase() + "VegItems" %>">Loading...</div>
</div>
